* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(221, 239, 250);
}

#game{ 
    height: 600px;
    width: 800px;
    background-color: lightskyblue;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.pipe{
    width: 100px;
    height: inherit;
    background-color: rgb(27, 187, 27);
    position: relative;
    left: 100%;
    animation: pipe 3s infinite linear;
}

@keyframes pipe {
    0%{left: 100%}
    100%{left: -50px}
}

#hole{
    width: 100px;
    height: 150px;
    background-color: lightskyblue;
    position: relative;
    left: 100%;
    top: -500px;
    animation: pipe 3s infinite linear;
}

#bird{
    background-color: rgb(238, 144, 82);
    background-size: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 300px;
    border-radius: 50%;

}

.navbar-padding {
    padding-left: 10px;
}

.navbar-styling {
    background-color: rgb(205, 231, 247);
    border-radius: 10px;
    box-shadow: lightblue;
    margin-top: 10px;
    width: 500px;
}