* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(221, 239, 250);
}

#game{ 
    height: 525px;
    width: 800px;
    background-color: lightskyblue;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

#pipe{
    width: 100px;
    height: inherit;
    background-color: rgb(27, 187, 27);
    position: absolute;
    left: 90%;
}

@keyframes pipe {
    0%{left: 100%}
    100%{left: -100px}
}

#hole{
    width: 100px;
    height: 170px;
    background-color: lightskyblue;
    position: absolute;
    left: 90%;
    top: 200px;
}

#bird{
    background-color: rgb(238, 144, 82);
    background-size: 100%;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 200px;
    left: 10px;
    border-radius: 50%;

}

.navbar-styling {
    background-color: rgb(205, 231, 247);
    border-radius: 10px;
    box-shadow: lightblue;
    margin-top: 10px;
    width: 500px;
}

.play {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
}

#score {
    margin-top: 10px;
    font-size: xx-large;
    color: rgb(238, 144, 82);
    z-index: 3;
}

@media (max-width: 1000px) {
    #game{ 
        height: 1200px;
        width: 800px;
        margin-top: 100px;
 
    }

    .navbar-styling {
        margin-top: 50px;
        width: 600px;
        height: 120px;
    }

    #score {
        margin-top: 60px;
        font-size: 500%;
    }

    svg {
        width: 70px;
        height: 70px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    #play {
        width: 100px;
        height: 100px;
    }

    #bird {
        width: 100px;
        height: 100px;
    }

    #hole {
        height: 300px;
        width: 150px;
    }

    #pipe {
        width: 150px;
    }


}



