body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.home-page-wrapper {
    margin-top: 50px;
    padding: 5px;
}

.content-wrapper {
    margin-top: 50px;
    background-color: #ededed;
    box-shadow: 2px 2px 5px rgba(21, 21, 21, 0.3);
    border-radius: 10px;
    padding: 20px;
}

a{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 10px;
    background-color: #ededed;
    box-shadow: 2px 2px 5px rgba(21, 21, 21, 0.3);
} 

a.tilt {
    background-image: url(../images/tilt.png);
}
