body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(238, 246, 252); ;
}



h1, h5 {
    text-align: center;
}

.home-page-wrapper {
    margin-top: 50px;
    padding: 5px;
}

.p1 {
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: bold;
}

li {
    font-weight: bold;
}


.content-wrapper {
    margin-bottom: 50px;
    background-color: rgb(221, 239, 250);
    box-shadow: 2px 2px 5px rgba(21, 21, 21, 0.3);
    border-radius: 45px;
    padding: 20px;
    width: 1000px;
}

a{
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    background-color: rgb(221, 239, 250);
    box-shadow: 3px 2px 5px rgba(21, 21, 21, 0.3);
    margin-right: 10px;
} 

a.tilt {
    background-image: url(../images/tilt.png);
}


@media (max-width: 1000px) {

    .content-wrapper {
        width: 900px;
    }

    h1 {
        font-size: xx-large;
        font-weight: bold;
    }

    h5 {
        font-size: x-large;
    }

    .p1 {
        font-size: xx-large;
    }
    
    p {
        font-size: x-large;
    }
    
    li {
        font-size: x-large;
        margin-bottom: 50px;
    }

}