body {
    padding: 0;
    margin: 0;
}

#game{
    width: 90%;
    height: 800px;
    background-color: lightskyblue;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#pipe{
    width: 100px;
    height: 800px;
    background-color: rgb(27, 187, 27);
    position: relative;
    left: 100%;
    animation: pipe 3s infinite linear;
}

@keyframes pipe {
    0%{left: 100%}
    100%{left: -50px}
}

#hole{
    width: 100px;
    height: 150px;
    background-color: lightskyblue;
    position: relative;
    left: 100%;
    top: -500px;
    animation: pipe 3s infinite linear;
}

#bird{
    background-color: rgb(238, 144, 82);
    background-size: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 300px;
    border-radius: 50%;

}

button{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-color: lightskyblue;
    position: relative;
    top: 0px; 
    border-radius: 100%;    
} 

button.tilt {
    background-image: url(../images/tilt.png);
}

button.blow {
    background-image: url(../images/wind.jpg);
}
